In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('airports.csv')
df = df[df['type']  != 'heliport']

In [145]:
df.head()

                               name iso_country     municipality iata_code
1438           Loring Seaplane Base          US           Loring       WLR
1574       Port Alice Seaplane Base          US       Port Alice       PTC
1758  Port Protection Seaplane Base          US  Port Protection       PPV
2383          Ellamar Seaplane Base          US          Ellamar       ELW
3642  Entrance Island Seaplane Base          US  Entrance Island       HBH

In [138]:
df = pd.read_csv('airports.csv')

In [132]:
df['type'].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [140]:
df = df[df['type']  != 'heliport']
df = df[df['type']  != 'small_airport']
df = df[df['type']  != 'closed']
df = df[df['type']  != 'balloonport']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
36,00NK,seaplane_base,Cliche Cove Seaplane Base,96.0,NaN,US,US-NY,Beekmantown,00NK,NaN,00NK,"44.8118612, -73.3698057"
93,01MD,seaplane_base,Annapolis Seaplane Base,NaN,NaN,US,US-MD,Annapolis,01MD,NaN,01MD,"38.999199, -76.456001"
94,01ME,seaplane_base,Saint Peter's Seaplane Base,608.0,NaN,US,US-ME,Portage Lake,01ME,NaN,01ME,"46.778900146484375, -68.50029754638672"
96,01MN,seaplane_base,Barnes Seaplane Base,1358.0,NaN,US,US-MN,Cook,01MN,NaN,01MN,"47.899600982666016, -92.55740356445312"
163,02NH,seaplane_base,Iroquois Landing Seaplane Base,1180.0,NaN,US,US-NH,Dummer,02NH,NaN,02NH,"44.657100677490234, -71.21910095214844"

In [144]:
df = df[~df.iata_code.isna()]

In [146]:
df.drop('type', inplace=True, axis=1)
df.drop('ident', inplace=True, axis=1)
df.drop('elevation_ft', inplace=True, axis=1)
df.drop('continent', inplace=True, axis=1)
df.drop('iso_region', inplace=True, axis=1)
df.drop('gps_code', inplace=True, axis=1)
df.drop('local_code', inplace=True, axis=1)
df.drop('coordinates', inplace=True, axis=1)

KeyError: "['type'] not found in axis"

In [176]:
df.to_csv('airports_simple.csv')

In [159]:
df.head()

,Unnamed: 0,name,iso_country,municipality,iata_code
0,1438,Loring Seaplane Base,US,Loring,WLR
1,1574,Port Alice Seaplane Base,US,Port Alice,PTC
2,1758,Port Protection Seaplane Base,US,Port Protection,PPV
3,2383,Ellamar Seaplane Base,US,Ellamar,ELW
4,3642,Entrance Island Seaplane Base,US,Entrance Island,HBH

In [151]:
df = pd.read_csv('airports_simple.csv')

In [175]:
df = df[~df.municipality.isna()]

In [165]:
df

,Unnamed: 0,name,iso_country,municipality,iata_code
0,1438,Loring Seaplane Base,US,Loring,WLR
1,1574,Port Alice Seaplane Base,US,Port Alice,PTC
2,1758,Port Protection Seaplane Base,US,Port Protection,PPV
3,2383,Ellamar Seaplane Base,US,Ellamar,ELW
4,3642,Entrance Island Seaplane Base,US,Entrance Island,HBH
5,3646,False Island Seaplane Base,US,False Island,FAK
6,4728,Golden Horn Lodge Seaplane Base,US,Golden Horn Lodge,GDH
7,5730,Hyder Seaplane Base,US,Hyder,WHD
8,6053,Tokeen Seaplane Base,US,Tokeen,TKI
9,6187,Aleknagik / New Airport,US,Aleknagik,WKK
10,6381,Ketchikan Harbor Seaplane Base,US,Ketchikan,WFB
11,6730,Lake Brooks Seaplane Base,US,Katmai National Park,BKF
12,7432,New York Skyports Inc Seaplane Base,US,New York,QNY
13,8041,Yes Bay Lodge Seaplane Base,US,Yes Bay,WYB
14,8741,Port of Poulsbo Marina Moorage Seaplane Base,US,Poulsbo,PUL
15,8766,Meyers Chuck Seaplane Base,US,Meyers Chuck,WMK
16,9714,Whale Pass Seaplane Float Harbor Facility,US,Whale Pass,WWP
17,10077,Philadelphia Seaplane Base,US,Essington,PSQ
18,10325,Saginaw Seaplane Base,US,Saginaw Bay,SGW
19,10383,Jebel Ali Seaplane Base,AE,Jebel Ali,DJH
20,10422,Kondavattavana Tank Seaplane Base,LK,Ampara,AFK
21,10435,Honiara International Airport,SB,Honiara,HIR
22,10440,Munda Airport,SB,NaN,MUA
23,10462,Hongyuan Airport,CN,Aba,AHJ
24,10524,Tikchik Lodge Seaplane Base,US,Tikchik,KTH
25,10530,Naukati Bay Seaplane Base,US,Tuxekan Island,NKI
26,10548,Amook Bay Seaplane Base,US,Amook Bay,AOS
27,10670,Alitak Seaplane Base,US,Lazy Bay,ALZ
28,10686,Nauru International Airport,NR,Yaren District,INU
29,11627,Hayman Island Resort Seaplane Base,AU,Hayman Island,HIS
...,...,...,...,...,...
4572,55074,Xinyuan Nalati Airport,CN,Xinyuan County,NLT
4573,55075,Yeerqiang Airport,CN,Shache,QSZ
4574,55076,Kashgar Airport,CN,Kashgar,KHG
4575,55077,Shanshan Airport,CN,Shanshan,SXJ
4576,55079,Hotan Airport,CN,Hotan,HTN
4577,55080,Turpan Jiaohe Airport,CN,Turpan,TLQ
4578,55081,Ürümqi Diwopu International Airport,CN,Ürümqi,URC
4579,55083,Anshan Air Base,CN,Anshan,AOG
4580,55084,Longjia Airport,CN,Changchun,CGQ
4581,55085,Changhai Airport,CN,Changhai,CNI
4582,55086,Chaoyang Airport,CN,Chaoyang,CHG
4583,55087,Wudalianchi Dedu Airport,CN,Wudalianchi,DTU
4584,55089,Dongji Aiport,CN,Fuyuan,FYJ
4585,55090,Taiping Airport,CN,Harbin,HRB
4586,55091,Heihe Airport,CN,Heihe,HEK
4587,55093,Jiamusi Airport,CN,Jiamusi,JMU
4588,55094,Jiansanjiang Airport,CN,Jiansanjiang,JSJ
4589,55095,Jixi Xingkaihu Airport,CN,Jixi,JXA
4590,55096,Jinzhou Airport,CN,Jinzhou,JNZ
4591,55097,Lindu Airport,CN,Yichun,LDS
4592,55098,Yushu Batang Airport,CN,Yushu,YUS
4593,55099,Mudanjiang Hailang International Airport,CN,Mudanjiang,MDG
4594,55100,Gu-Lian Airport,CN,Mohe,OHE
4595,55101,Qiqihar Sanjiazi Airport,CN,Qiqihar,NDG
4596,55102,Songyuan Chaganhu Airport,CN,Qian Gorlos Mongol Autonomous County,YSQ
4597,55104,Zhoushuizi Airport,CN,Dalian,DLC
4598,55105,Tonghua Sanyuanpu Airport,CN,Tonghua,TNH
4599,55106,Taoxian Airport,CN,Shenyang,SHE
4600,55107,Yanji Chaoyangchuan Airport,CN,Yanji,YNJ
4601,55108,Yingkou Lanqi Airport,CN,Yingkou,YKH

KeyError: "['type'] not found in axis"

In [ ]:
df = df[df['type'] != 'balloonport']

In [8]:
df.drop('ident', axis=1, inplace=True)

In [14]:
df.drop('local_code', axis=1, inplace=True)

In [21]:
df.type.unique().count()

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [27]:
df = df[df['type'] != 'small_airport']

In [28]:
df.shape

(5144, 7)

In [78]:
pd.read_csv('airports_simple.csv')

      Unnamed: 0                                                  x
0           6187  Aleknagik / New Airport,Aleknagik / New Airpor...
1          10435  Honiara International Airport,Honiara Internat...
2          10440                   Munda Airport,Munda Airport(MUA)
3          10462             Hongyuan Airport,Hongyuan Airport(AHJ)
4          10686  Nauru International Airport,Nauru Internationa...
...          ...                                                ...
4453       55104         Zhoushuizi Airport,Zhoushuizi Airport(DLC)
4454       55105  Tonghua Sanyuanpu Airport,Tonghua Sanyuanpu Ai...
4455       55106               Taoxian Airport,Taoxian Airport(SHE)
4456       55107  Yanji Chaoyangchuan Airport,Yanji Chaoyangchua...
4457       55108   Yingkou Lanqi Airport,Yingkou Lanqi Airport(YKH)

[4458 rows x 2 columns]

In [30]:
df.head()

,type,name,continent,iso_country,iso_region,iata_code,coordinates
6187,medium_airport,Aleknagik / New Airport,NaN,US,US-AK,WKK,"59.2826004028, -158.617996216"
10435,medium_airport,Honiara International Airport,OC,SB,SB-CT,HIR,"-9.4280004501343, 160.05499267578"
10440,medium_airport,Munda Airport,OC,SB,SB-WE,MUA,"-8.327969551086426, 157.26300048828125"
10462,medium_airport,Hongyuan Airport,AS,CN,CN-51,AHJ,"32.53154, 102.35224"
10686,medium_airport,Nauru International Airport,OC,NR,NR-14,INU,"-0.547458, 166.919006"

In [34]:
df.drop('coordinates', axis=1, inplace=True)

In [35]:
df.head()

                                name iso_country iata_code
6187         Aleknagik / New Airport          US       WKK
10435  Honiara International Airport          SB       HIR
10440                  Munda Airport          SB       MUA
10462               Hongyuan Airport          CN       AHJ
10686    Nauru International Airport          NR       INU

In [61]:
df.to_csv('airports_conc.csv')

In [42]:
df.describe()

                     name iso_country iata_code
count                5144        5132      4458
unique               5125         235      4452
top     Newcastle Airport          US       JNB
freq                    3         858         3

In [51]:
df['x'] = df['name'] + ',' + df['name'] + '(' + df['iata_code'] +  ')'

C:\Users\SG0216333\AppData\Local\Continuum\anaconda3\envs\myEnv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
df.drop('name')

KeyError: "['name'] not found in axis"

In [59]:
df.drop('iata_code', axis=1, inplace=True)

In [ ]:
d

In [60]:
df.head()

                                                       x
6187   Aleknagik / New Airport,Aleknagik / New Airpor...
10435  Honiara International Airport,Honiara Internat...
10440                   Munda Airport,Munda Airport(MUA)
10462             Hongyuan Airport,Hongyuan Airport(AHJ)
10686  Nauru International Airport,Nauru Internationa...

In [62]:
x= pd.read_csv('airports_conc.csv')

In [63]:
x.head()

   Unnamed: 0                                                  x
0        6187  Aleknagik / New Airport,Aleknagik / New Airpor...
1       10435  Honiara International Airport,Honiara Internat...
2       10440                   Munda Airport,Munda Airport(MUA)
3       10462             Hongyuan Airport,Hongyuan Airport(AHJ)
4       10686  Nauru International Airport,Nauru Internationa...

In [71]:


x[~x['x'].isna()].to_csv('airports_conc.csv')

In [76]:
df[~df['x'].isna()].to_csv('airports_simple.csv')

In [77]:
pd.read_csv('airports_simple.csv')

      Unnamed: 0                                                  x
0           6187  Aleknagik / New Airport,Aleknagik / New Airpor...
1          10435  Honiara International Airport,Honiara Internat...
2          10440                   Munda Airport,Munda Airport(MUA)
3          10462             Hongyuan Airport,Hongyuan Airport(AHJ)
4          10686  Nauru International Airport,Nauru Internationa...
...          ...                                                ...
4453       55104         Zhoushuizi Airport,Zhoushuizi Airport(DLC)
4454       55105  Tonghua Sanyuanpu Airport,Tonghua Sanyuanpu Ai...
4455       55106               Taoxian Airport,Taoxian Airport(SHE)
4456       55107  Yanji Chaoyangchuan Airport,Yanji Chaoyangchua...
4457       55108   Yingkou Lanqi Airport,Yingkou Lanqi Airport(YKH)

[4458 rows x 2 columns]

In [46]:
df['x'].head()

6187           Aleknagik / New Airport,
10435    Honiara International Airport,
10440                    Munda Airport,
10462                 Hongyuan Airport,
10686      Nauru International Airport,
Name: x, dtype: object

In [44]:
def contains_(text='New'):
    return df[df['name'].str.contains(text, regex=False)]

print (contains_())

                                                    name iso_country iata_code
6187                             Aleknagik / New Airport          US       WKK
15206                              Nanchang New Airfield          CN       NaN
18530                           Newquay Cornwall Airport          GB       NQY
18587                                  Newcastle Airport          GB       NCL
20015                                  Newcastle Airport          ZA       NCS
23163                                 Merowe New Airport          SD       MWE
23173               Port Sudan New International Airport          SD       PZU
24266                                    H1 New Air Base          IQ       NaN
24300                            Tal Ashtah New Air Base          IQ       NaN
24304                         Wadi Al Khirr New Air Base          IQ       NaN
24411                               New Ishigaki Airport          JP       ISG
27087                       New Bedford Regional Airport          US       EWB
27090               Newark Liberty International Airport          US       EWR
27361                          Groton New London Airport          US       GON
27541                            Tweed New Haven Airport          US       HVN
27627                                 New Castle Airport          US       ILG
28137  Louis Armstrong New Orleans International Airport          US       MSY
28214          New Orleans NAS JRB/Alvin Callender Field          US       NBG
28216        New River MCAS /H/ /Mccutcheon Fld/ Airport          US       NaN
28380                          Newport Municipal Airport          US       ONP
28571    Newport News Williamsburg International Airport          US       PHF
29800                      New Richmond Regional Airport          US       NaN
35386                                  New Bight Airport          BS       TBI
37007                               New Plymouth Airport          NZ       NPL
38266                         Cape Newenham LRRS Airport          US       EHM
38782                New Islamabad International Airport          PK       ISB
39508                                New Chitose Airport          JP       CTS
39535                            New Tanegashima Airport          JP       TNE
40830                              Jorge Newbery Airpark          AR       AEP
53939                                     Newman Airport          AU       ZNE
54393                                  Newcastle Airport          AU       NTL

In [19]:
df = df[df['type'] != 'balloonport']

In [79]:
df = pd.read_csv('airports.csv')

In [98]:
df.head()

                 type                           name iso_country iata_code
6187   medium_airport        Aleknagik / New Airport          US       WKK
10435  medium_airport  Honiara International Airport          SB       HIR
10440  medium_airport                  Munda Airport          SB       MUA
10462  medium_airport               Hongyuan Airport          CN       AHJ
10686  medium_airport    Nauru International Airport          NR       INU

In [81]:
df.drop('ident', inplace=True, axis=1)

In [89]:
df.drop('coordinates', inplace=True, axis=1)

In [96]:
df = df[df['type'] != 'balloonport']

In [97]:
df['type'].unique()

array(['medium_airport', 'large_airport'], dtype=object)

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9177 entries, 223 to 55108
Data columns (total 12 columns):
ident           9177 non-null object
type            9177 non-null object
name            9177 non-null object
elevation_ft    8826 non-null float64
continent       6200 non-null object
iso_country     9146 non-null object
iso_region      9177 non-null object
municipality    8416 non-null object
gps_code        8543 non-null object
iata_code       9177 non-null object
local_code      3002 non-null object
coordinates     9177 non-null object
dtypes: float64(1), object(11)
memory usage: 932.0+ KB

In [122]:
df = df[~df.iata_code.isna()]

In [123]:
df[df.name.isna()]

Empty DataFrame
Columns: [ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates]
Index: []

In [107]:
df.to_csv('airports_simplified.csv')

In [109]:
df.head()

                 type                           name iso_country iata_code
6187   medium_airport        Aleknagik / New Airport          US       WKK
10435  medium_airport  Honiara International Airport          SB       HIR
10440  medium_airport                  Munda Airport          SB       MUA
10462  medium_airport               Hongyuan Airport          CN       AHJ
10686  medium_airport    Nauru International Airport          NR       INU

In [121]:
df = pd.read_csv('airports.csv')

In [113]:
df[df['name'].str.contains('parque')]

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
10792,AR-0038,small_airport,Alvear Aeroparque Airport,85.0,SA,AR,AR-S,Alvear,NaN,NaN,AVA,"-33.0467, -60.5969"
34526,MX-0319,heliport,Hotel Tecnoparque Helipad,7477.0,NaN,MX,MX-DIF,Azcapotzalco,NaN,NaN,HTN,"19.505984, -99.179256"

In [120]:
df[df['iata_code'] == 'AEP']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
40830,SABE,medium_airport,Jorge Newbery Airpark,18.0,SA,AR,AR-C,Buenos Aires,SABE,AEP,AER,"-34.5592, -58.4156"

In [125]:
df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N,"11.222, 169.852005"
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA,"25.325399398804, -80.274803161621"
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK,"61.934601, -162.899994"
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"38.851918, -106.928341"
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7,"30.251800537100003, -98.62249755859999"

In [ ]:
df.drop()