In [46]:
import os
import pandas as pd

In [56]:
wd = os.listdir('data/linear_regression')
print(wd)

['Fish.csv', 'insurance.csv', 'insurance_modified.csv', 'USA_Housing.csv']

In [57]:
df = pd.read_csv('data/linear_regression/insurance.csv')

In [58]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [59]:
smoker = pd.get_dummies(df['smoker'], drop_first=True).astype('float64')

df['smoker'] = smoker

ses = pd.get_dummies(df['sex'], drop_first=True).astype('float64')
df['sex'] = sex

In [60]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [61]:
region_df = pd.get_dummies(df['region'], drop_first=False).astype('float64')
df = pd.concat([df,region_df], axis=1)

In [62]:
df.drop(['region'], axis=1, inplace=True)

In [63]:
df.to_csv('data/linear_regression/insurance_modified.csv')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
age          1338 non-null int64
sex          1338 non-null uint8
bmi          1338 non-null float64
children     1338 non-null int64
smoker       1338 non-null float64
charges      1338 non-null float64
northeast    1338 non-null float64
northwest    1338 non-null float64
southeast    1338 non-null float64
southwest    1338 non-null float64
dtypes: float64(7), int64(2), uint8(1)
memory usage: 95.5 KB